<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Looping Statements</h1>
        <h2>{{n1}}</h2>
        {% for i in n1 %}
        <h3>{{i}}</h3>
        {% endfor %}

        <h2>{{n2}}</h2>
        {% for j in n2 %}
        <h3>{{j}}</h3>
        {% endfor %}
    </center>
</body>
</html>